- var count = 1
doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    include ../common/navbar.pug
    +navbar(user)
    .container-fluid
      .row.align-items-center
        .col-md-10.order-md-1.text-center.text-md-left
          h1 tickets #{subtitle}
          p
            span
              a#tickets0(href="/ticket/" + "0/" + user.userId ) Queued #{pre}
              |          |
              a#tickets1(href="/ticket/" + "1/" + user.userId ) In-Progress #{pre}
              |          |
              a#tickets2(href="/ticket/" + "2/" + user.userId ) Solved
            if tickets != NULL
              table.table.table-hover
                thead.thead-dark
                  tr
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Email
                    th(scope="col") Phone Number
                    th(scope="col") Topic
                    th(scope="col") Subject
                  tr
                tbody
                for ticket in tickets
                  - var ticketPriority;
                  if ticket.priority
                    - ticketPriority = "table-danger";
                  else
                    - ticketPriority = "table-success";
                  tr(class=ticketPriority, id=ticket.ticketId, href="/tickets/"+ user.userId + "/" + ticket.ticketId)
                    td
                      span #{count++}
                    td
                      span #{ticket.user.firstName + " " + ticket.user.lastName}
                    td
                      span #{ticket.user.email}
                    td
                      span #{ticket.user.phoneNumber}
                    td
                      span #{ticket.topic}  
                    td
                      span #{ticket.title}
            else
              p There are currently no tickets! :)
                  


    include ../common/footer.pug
    +footer()
    script(src="/javascripts/ticket_table.js")
