doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    style.
      img {
        max-width: 100%;
        max-height: 100%;
      }

      .portrait {
        height: 80px;
        width: 30px;
      }

      .landscape {
        height: 30px;
        width: 80px;
      }

      .square {
        height: 75px;
        width: 75px;
      }
    include ../common/navbar.pug
    +navbar(user)
    .container-fluid
      .row.align-items-start
        .col
          .table-responsive
            table.table
              thead.thead-dark
                tr
                  th(scope="col" style="width:15%") #{ticket.title} 
                  th(scope="col" style="width:85%")
              tbody
                for message in ticket.messages
                  - var bgColor = "bebebe";
                  if (message.is_admin)
                    - bgColor = "edff54";
                  tr(id=ticket.ticketId)
                    td
                      span #{message.fullName}
                      br
                      span #{message.email}
                      br
                      span #{message.phoneNumber}
                    td(bgcolor=bgColor style="word-wrap: break-word;min-width: 160px;max-width: 160px;")
                      .box.sb2
                        span!=message.content
            hr
          if user.is_admin
            div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 12px; color: #000;')
              | For all admin: if the ticket posted is not respectful or against our rules and regulations, 
              a(style="color: #3498DB;" href="/flag_ticket/"+ticket.ticketId) click here 
              | to flag ticket
          if !user.is_admin && ticket.tag == 1
            div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 12px; color: #000;')
              | If you think the admin has solved your problem, please 
              a(style="color: #3498DB;" href="/solved/"+ticket.ticketId) click here 
              | to move ticket to `solved` folder and give thanks! 
          if ticket.tag == 2    
            div(style='font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 28px;font-size: 12px; color: #000;')
              | If you think the admin has made a mistake, please 
              a(style="color: #3498DB;" href="/not_solved/"+ticket.ticketId) reopen ticket 
              | to move ticket to `in-progress` folder
          else
            form(action="/tickets/" + user.userId + "/" + ticket.ticketId, method="POST")
              em
                strong 
                  .input-group.mb-3
                    textarea#content.form-control(name='content', placeholder='Enter your response here' rows="4")
                    .input-group-append
                      button.btn.btn-outline-dark(type='submit') Submit
            


    include ../common/footer.pug
    +footer()
    //- script(src="/javascripts/Counter.js")