- var count = 1
doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    include ../common/navbar.pug
    +navbar(user)
    .container-fluid
      .row.align-items-center
        .col-md-10.order-md-1.text-center.text-md-left
          h1 My tickets #{subtitle}
          p
            span
              a#tickets0(href="/my_ticket/" + "0/" + user.userId ) Queued #{pre}
              |          |
              a#tickets1(href="/my_ticket/" + "1/" + user.userId ) In-Progress #{pre}
              |          |
              a#tickets2(href="/my_ticket/" + "2/" + user.userId ) Solved
            table.table.table-hover
              thead.thead-dark
                tr
                  th(scope="col") #
                  th(scope="col") Topic
                  th(scope="col") Subject
                tr
              tbody
              if tickets != NULL
                for ticket in tickets
                  tr(id=ticket.ticketId, href="/tickets/"+ user.userId + "/" + ticket.ticketId)
                    td
                      span #{count++}
                    td
                      span #{ticket.topic}  
                    td
                      span #{ticket.title}
                  


    include ../common/footer.pug
    +footer()
    script(src="/javascripts/ticket_table.js")
