

doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    style.
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
        body,
        html {
          margin: 0;
          height: 100%;
        }
        
        input {
          border: none;
        }
        
        button:focus {
          outline: none;
        }
        
        ::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.65);
        }
        
        ::-webkit-input-placeholder .input-line:focus +::input-placeholder {
          color: #fff;
        }
        
        .highlight {
          color: rgba(255, 255, 255, 0.8);
          font-weight: 400;
          cursor: pointer;
          transition: color .2s ease;
        }
        
        .highlight:hover {
          color: #fff;
          transition: color .2s ease;
        }
        
        .spacing {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          height: 120px;
          font-weight: 600;
          text-align: center;
          margin-top: 10px;
          color: rgba(255, 255, 255, 0.65)
        }
        
        .input-line:focus {
          outline: none;
          border-color: #fff;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
        }
        
        .ghost-round {
          cursor: pointer;
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.65);
          border-radius: 25px;
          color: rgba(255, 255, 255, 0.65);
          -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
          align-self: flex-end;
          font-size: 19px;
          font-size: 1.2rem;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
          line-height: 2.5em;
          margin-top: auto;
          margin-bottom: 25px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
        }
        
        .ghost-round:hover {
          background: rgba(255, 255, 255, 0.15);
          color: #fff;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
        }
        
        .input-line {
          background: none;
          margin-bottom: 10px;
          line-height: 2.4em;
          color: #fff;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
          letter-spacing: 0px;
          letter-spacing: 0.02rem;
          font-size: 19px;
          font-size: 1.2rem;
          border-bottom: 1px solid rgba(255, 255, 255, 0.65);
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
        }
        
        .full-width {
          width: 100%;
        }
        
        .input-fields {
          margin-top: 25px;
        }
        
        .container {
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          background: #eee;
          height: 100%;
          width:100%;
          min-height: 100px;
          height: 91vh;
          min-width: 100vw;
        }
        
        .content {
          padding-left: 25px;
          padding-right: 25px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: column;
          -ms-flex-flow: column;
          flex-flow: column;
          z-index: 5;
        }
        
        .welcome {
          font-weight: 500;
          margin-top: 75px;
          text-align: center;
          font-size: 40px;
          font-size: 2.5rem;
          letter-spacing: 0px;
          letter-spacing: 0.05rem;
        }
        
        .subtitle {
          text-align: center;
          line-height: 1em;
          font-weight: 400;
          letter-spacing: 0px;
          letter-spacing: 0.02rem;
        }
        
        .menu {
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 50px;
        }
        
        .window {
          z-index: 100;
          color: #000;
          font-family: 'Source Sans Pro', sans-serif;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: column;
          -ms-flex-flow: column;
          flex-flow: column;
          box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          height: 650px;
          width: 1000px;
          background: #fff;
          background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
        }
        
        .overlay {
          background: -webkit-linear-gradient(#FEDA77, #F58529);
          background: linear-gradient(#FEDA77, #F58529);
          opacity: 0.85;
          filter: alpha(opacity=85);
          height: 650px;
          position: absolute;
          width: 1000px;
          z-index: 1;
        }
        
        .bold-line {
          background: #e7e7e7;
          position: absolute;
          top: 0px;
          bottom: 0px;
          margin: auto;
          width: 100%;
          height: 360px;
          z-index: 1;
          opacity:0.1;
            background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
          background-size:cover;
        }
        
        @media (max-width: 500px) {
          .window {
            width: 100%;
            height: 100%;
          }
          .overlay {
            width: 100%;
            height: 100%;
          }
        }
      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-138699201-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-138699201-1');
    include ../common/navbar.pug
    +navbar(user)
    .bold-line
    .container
      .window
        .overlay
        .content
          .welcome Profile Page
          .subtitle Edit details here
          form(action='/profile_change', method='POST')
            div.formgroup
              label.small.mb-1.mt-3 Email: 
              input(placeholder='e.g. jem_ng@hotmail.com',required=true, name='email',type='email',value=user.email readonly="readonly").input-line.full-width
              if (errors && errors.email)
                p#err_email.small.text-danger #{errors.email}
              .form-row.mb-1
                .col
                  label.small.mb-1.mt-3 First Name: 
                  input(placeholder='e.g. Jeremy',required=true, name='firstName',type='text',value=user.firstName).input-line.full-width
                  if (errors && errors.firstName)
                    p#err_firstName.small.text-danger #{errors.firstName}
                .col
                  label.small.mb-1.mt-3 Last Name: 
                  input(placeholder='e.g. Ng',required=true, name='lastName',type='text',value=user.lastName).input-line.full-width
                  if (errors && errors.lastName)
                    p#err_lastName.small.text-danger #{errors.lastName}
              label.small.mb-1.mt-3 Phone Number: 
              input(placeholder='e.g. 91234567',required=true, name='phoneNumber',type='text',value=user.phoneNumber).input-line.full-width
              if (errors && errors.phoneNumber)
                p#err_phoneNumber.small.text-danger #{errors.phoneNumber}
              .spacing
                p.mt-2.mb-0
                  | Change your password #[a(href="/users/forgot_password" class="text-light") here].
              button.ghost-round.full-width Confirm Changes
    include ../common/footer.pug
    +footer()
