doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    doctype html
html(lang='en')
  include ../common/header.pug
  +header(title)
  body
    head
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-138699201-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138699201-1');    
    
  include ../common/navbar.pug
  +navbar()
  .bold-line
  .container
    .window
      .overlay
      .content
        .welcome Sign Up
        .subtitle Log In to Use Our Services

        form(action='/users/signup', method='POST')
          div.formgroup
            .input-fields
              input.input-line.full-width(placeholder='Email',required=true, name='email',type='email',value=formData.email)
              if (errors && errors.email)
                p#err_email.small.text-danger #{errors.email}
              input.input-line.full-width(placeholder='First Name',required=true, name='firstName',type='text',value=formData.firstName)
              if (errors && errors.firstName)
                p#err_firstName.small.text-danger #{errors.firstName}
              input.input-line.full-width(placeholder='Last Name',required=true, name='lastName',type='text',value=formData.lastName)
              if (errors && errors.lastName)
                p#err_lastName.small.text-danger #{errors.lastName}
              input.input-line.full-width(placeholder='Phone Number',required=true, name='phoneNumber',type='text',value=formData.phoneNumber)
              if (errors && errors.phoneNumber)
                p#err_phoneNumber.small.text-danger #{errors.phoneNumber}
              input.input-line.full-width(placeholder='New Password', required=true, name='password', type='password',value='')
              if (errors && errors.password)
                p#err_password.small.text-danger #{errors.password}
              input.input-line.full-width(placeholder='Confirm Password',required=true, name='password2', type='password',value='')
              if (errors && errors.password2)
                p#err_password2.small.text-danger #{errors.password2}

            br
            br
            div
              button.ghost-round.full-width Sign Up
            .spacing
              p.mt-2.mb-0 
                | Already have an account? #[a(href="/users/login" class="text-light") Log in here].

  

    include ../common/footer.pug
    +footer()